

body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* Color de texto predeterminado */
    background-color: #1b3039; /* Cambiamos el color de fondo del body */
}

/* header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
} */

#sabiasque {
    padding: 20px;
    color: #fff; /* Cambiamos el color de texto dentro de la sección "Sabías que?" */
    background-color: #1b3039; /* Cambiamos el color de fondo de la sección "Sabías que?" */
}

#sabiasque h1 {
    margin-top: 0;
    text-transform: uppercase; /* Convertimos el texto a mayúsculas */
    text-align: center; /* Centramos el texto */
    font-size: 24px; /* Aumentamos el tamaño del título */
}

#sabiasque ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Hacemos que los ítems de la lista se alineen en línea */
    justify-content: space-between; /* Distribuimos uniformemente los ítems en el espacio horizontal */
}

#sabiasque li {
    flex: 1; /* Hacemos que cada ítem de la lista ocupe el mismo espacio */
    display: flex; /* Hacemos que cada ítem de la lista se alinee en línea */
    flex-direction: column; /* Alineamos los elementos dentro de cada ítem de la lista en una columna */
    align-items: center; /* Alineamos verticalmente los elementos dentro de cada ítem de la lista */
    text-align: center; /* Centramos el texto */
    margin: 0 12px; /* Añadimos un margen horizontal para separar los ítems */
}

#sabiasque img {
    width: 80%;
    max-width: 80%;
    height: auto;
    margin-bottom: 20px; /* Añadimos un margen inferior para separar la imagen del texto */
    box-shadow: 0 4px 6px rgba(248, 246, 246, 0.907); /* Añadimos una sombra a las imágenes */
}



#imagen3 {
    width: 80%;
    max-width: 80%;
    height: 110%;
    margin-bottom: 10px; /* Añadimos un margen inferior para separar la imagen del texto */
    /* Agregamos estilos adicionales para la imagen 3 */
    height: 210px; /* Ajustamos la altura de la imagen 3 */
    object-fit: cover; /* Ajustamos la forma en que se ajusta la imagen */
}


#sabiasque h3 {
    margin-top: 0;
}

#sabiasque p {
    margin-bottom: 10px; /* Agregamos un margen inferior para separar el texto del siguiente ítem */
    text-shadow: 1px 1px 2px rgb(3, 3, 3); /* Agregamos una sombra al texto */
}


#comentarios {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 40px;
}

#comentarios h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; /* Centramos el texto */
}

#formulario-comentario {
    margin-bottom: 20px;
}

#formulario-comentario label {
    font-weight: bold;
}

#formulario-comentario input[type="text"],
#formulario-comentario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#formulario-comentario button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#formulario-comentario button:hover {
    background-color: #45a049;
}

#comentarios-anteriores {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.comentario {
    margin-bottom: 20px;
}

.comentario strong {
    font-weight: bold;
}

.comentario p {
    margin: 5px 0;
}


footer {
    color: #f0f0f0; /* Cambiamos el color del texto a un tono de gris claro */
    font-size: 10px;
}


